html,body{
    margin: 0;
    height: 100%;
    
}
body{
    background-image: url(https://images.wallpaperscraft.com/image/river_mountains_aerial_view_137435_1920x1080.jpg);
    background-size: cover;
}
#container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectEmotion{
    background-color:rgba(36, 123, 255,0.4);
    display: flex;
    flex-direction: row;
    height: 48%;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem
}
#emotion{
    border: 0;
    background-color: rgba(219, 219, 219,0.5);
    width: 60%;
    height: 20%;
    font-size: 30px;
    border-radius: 1rem;
    color: #302f2f;
}
#genres{
    border: 0;
    background-color: rgba(219, 219, 219,0.5);
    width: 20%;
    height: 20%;
    font-size: 30px;
    border-radius: 1rem;
    color: #302f2f;
}
#play{
    border: 0;
    background-color: rgba(252, 143, 10);
    width: 18%;
    height: 20%;
    font-size: 30px;
    border-radius: 1rem;
    color: #302f2f;
}
#play:hover{
    cursor: pointer;
    background-color: #302f2f;
    color: rgb(252, 143, 10);
    transition: 0.3s;
}
#vi{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}